<header class="header-page">
  <div class="container">
    <nav>
    <ul class="site-navigation">
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./index.html">Home</a>
      </li>  
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-10-01.html"
          >Timer</a
        >
      </li>
      <li class="site-navigation-item">
        <a class="site-navigation-item-link" href="./task-10-02.html"
          >Promise</a
        >
      </li>          
    </ul>
  </nav>
  </div>
</header>
